# Backend (.env in server folder)
ATLAS_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
PORT=5050

# Frontend (.env in client folder)  
VITE_API_URL=http://localhost:5050
